/* Lower.css */
.container {
    position: relative;
  }
  
  .image-container {
    width: 18rem; /* 72 / 4 = 18 */
    height: 24rem; /* 96 / 4 = 24 */
    position: relative;
    background-size: cover;
    background-position: center;
  }
  
  .info-overlay {
    position: absolute;
    background-color: #38a169; /* Tailwind color green-400 */
    right: 0;
    display: flex;
    cursor: pointer;
  }
  
  .dummy-text {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide-in 0.5s forwards;
  }
  
  .hidden-md {
    display: none;
  }
  
  @media (max-width: 768px) {
    .hidden-md {
      display: block;
    }
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  